<form method="post" action="/login">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Kullanıcı Adı</label>
    <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">Sisteme kayıtlı kullanıcı adları: ahmet, mehmet, zeynep</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Şifre</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1">
    <div id="passwordHelp" class="form-text">Şifreler: ahmet123, mehmet123, zeynep123</div>
  </div>
  <div class="container d-flex justify-content-center">
    <button type="submit" class="btn btn-primary text-center">Submit</button>
  </div>
</form>