<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img width="150px" src="img/todologo.svg" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 px-3 fs-5">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Görevlerim</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Yeni Görev Ekle</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Çıkış Yap</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Link</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="fs-5" >Hoşgeldin <%= user %> <a class="mx-1" href="#contact"><img width="40px" src="img/user.svg" alt="profile"></a></li>
      </ul>
    </div>
  </div>
</nav>